name: Compono Backend CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy'
        required: true
        default: 'latest'

jobs:
  build-and-push:
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    name: Build and Push to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get short sha
        id: get-short
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Auto-increment tag
        id: new_tag
        uses: mathieudutour/github-tag-action@v6.2
        if: github.event_name != 'workflow_dispatch'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          default_bump: patch

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: ci.Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            GIT_HASH=${{ steps.get-short.outputs.sha_short }}
          tags: |
            ghcr.io/compono-vpn/compono-backend:${{ steps.new_tag.outputs.new_tag }}
            ghcr.io/compono-vpn/compono-backend:${{ steps.get-short.outputs.sha_short }}
            ghcr.io/compono-vpn/compono-backend:latest
